/* static/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: #484543; /* رنگ جذاب برای دکمه CTA */
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #393736; /* تغییر رنگ در هوور */
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 70%; /* عرض پست‌ها را تمام عرض صفحه قرار دهید */
    text-align: center;
    padding: 20px; /* حاشیه دهی به پست */
    margin-bottom: 20px;
}

.post:hover {
    transform: scale(1.05);
}

.post h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.post-body {
    font-size: 16px;
    color: #555;
}

.post-image {
    max-width: 100%;
    height: auto;
}

.feature {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9; /* رنگ پس‌زمینه فیچرها */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-post {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.add-post h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.add-post label {
    display: block;
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.add-post input[type="text"],
.add-post input[type="email"],
.add-post input[type="password"],
.add-post textarea,
.file-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-post input[type="submit"],
.file-label {
    background-color: #313130;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.add-post input[type="submit"]:hover,
.file-label:hover {
    background-color: #383635;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

